<html>
    <head>
        <title>ПРОСТО ОБ ИСКУСТВЕ</title>
        <link rel="stylesheet" href="C:\Users\gudkova.vv\PyProjects\DjangoGirl\blog\static\css\blog.css">
    </head>
    <body>
        <div>
            <h1><a href="/">ПРОСТО ОБ ИСКУСТВЕ</a></h1>
        </div>

        <div>
            <p>Этот блог будет об искусстве, художниках, рисовании, скетчинге и творчестве. Добро пожаловать, я рада всем! </p>
            <h2><a href="">АР НУВО</a></h2>
            <p>Ар нуво – распространённое во многих странах (Бельгия, Франция, Англия, США и др.) название стиля модерн. Самый известный художник этого направления живописи: Альфонс Муха.</p>
        </div>

        <div>
            <h2><a href="">ИМПРЕССИОНИЗМ</a></h2>
            <p>Импрессионизм – направление в живописи, зародившееся во Франции в XIX-XX веках, являющее собой художественную попытку запечатлеть какой-нибудь момент жизни во всей его изменчивости и подвижности. Картины импрессионистов словно качественно смытая фотография, возрождающая в фантазии продолжение увиденной истории.</p>
        </div>
    </body>
</html>