H1 {
    color: greenyellow;
    font-family: Courier;
    display: flex;
    justify-content: space-around;
}

H2 {
    color: greenyellow;
    font-family: Courier;
    display: flex;
    justify-content: space-around;
}

p {
    color: brown;
    font-family: Courier;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
}

body {
    padding-left: 15px;
}